ul{display: block;}
li{display: inline-block;}
h1{
    color: #fff;
}
a {
    width:10%;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    margin-right: 50px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    background-color: rgb(184, 10, 10);
    border: 1px solid  rgb(184, 10, 10);
  }
  
  